.homeBanner {
  width: 100%;
  height: 300px;
  position: relative;
}
.homeBanner:after {
  text-align: center;
  padding: 10px;
  content: 'Checkout Our Top Restaurants With Varieties Of Dining Options';
  width: 100%;
  height: 50px;
  background: #001529;
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.65);
}
.homeBanner img {
  width: 100%;
  height: 100%;
}
.topResOuter {
  /* margin-left: 50px; */
}
.myhomeRestaurants {
  min-height: 50vh;
  display: grid;
  width: 80%;
  grid-template-columns: repeat(4, 1fr);
  /* margin-left: 40px; */
}
.homeRestaurants {
  width: 220px;
  height: max-content;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  margin: 10px;
  overflow: hidden;
  text-align: left;
  position: relative;
}

.homeImageDiv {
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.homeRestaurants:hover img {
  transition: all 1s ease;
  transform: scale(1.5);
  opacity: 0.5;
  cursor: pointer;
}
.homeImageDiv img {
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: scale(1);
}

.contentDiv {
  padding: 10px;
}
