.homeBanner {
  width: 100%;
  height: 300px;
  position: relative;
}
.homeBanner:after {
  text-align: center;
  padding: 10px;
  content: 'Checkout Our Top Restaurants With Varieties Of Dining Options';
  width: 100%;
  height: 50px;
  background: #001529;
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.65);
}
.homeBanner img {
  width: 100%;
  height: 100%;
}
.topResOuter {
  height: max-content;
  background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 1),
      rgba(200, 226, 250, 0.8)
    ),
    url(./../../everest.jpg);
  background-size: cover;
  padding-bottom: 30px;
  background-position: top;
  /* clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); */
  position: relative;
}
.myhomeRestaurants {
  min-height: 50vh;
  display: grid;
  width: 80%;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  /* margin-top: 20px; */
  /* margin-left: 40px; */
}
.homeRestaurants {
  width: 1fr;
  height: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  /* margin-top: 20px; */
  /* margin: 10px; */
  overflow: hidden;
  text-align: left;
  position: relative;
  background-color: #ffffffdc;
  z-index: 100px;
}

.homeImageDiv {
  width: 100%;
  height: 150px;
  overflow: hidden;
}
.homeRestaurants:hover img {
  transition: all 1s ease;
  transform: scale(1.5);
  opacity: 0.5;
  cursor: pointer;
}
.homeImageDiv img {
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: scale(1);
}

.contentDiv {
  padding: 10px;
}

@media only screen and (max-width: 1100px) {
  .myhomeRestaurants {
    grid-template-columns: repeat(3, 1fr);
  }
  .homeImageDiv {
    width: 100%;
    height: 180px;
    overflow: hidden;
  }
}
@media only screen and (max-width: 861px) {
  .myhomeRestaurants {
    grid-template-columns: repeat(2, 1fr);
    /* margin-left: 40px; */
  }

  .homeImageDiv {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  .homeBanner:after {
    content: '';
  }
}
@media only screen and (max-width: 683px) {
  .descriptionTagsH2 {
    font-size: 19px;
  }
  .descriptionTagsH3 {
    font-size: 0;
  }
}
@media only screen and (max-width: 576px) {
  .myhomeRestaurants {
    grid-template-columns: repeat(1, 1fr);
    /* margin-left: 40px; */
  }
  .homeImageDiv {
    width: 100%;
    height: 250px;
    overflow: hidden;
  }
}
