.menuBanner {
  width: 100%;
  height: 300px;
  position: relative;
}
.menuBanner:after {
  text-align: center;
  padding: 10px;
  content: 'Order From Our Best Restaurants Offering Their Top Menus! Eating Conveniently at Home';
  width: 100%;
  height: 50px;
  background: #001529;
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.65);
}
.menuBanner img {
  width: 100%;
  height: 100%;
}

.mymenuRestaurants {
  min-height: 50vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.menuRestaurants {
  min-height: 50vh;
  display: grid;
  width: 80%;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
}

.menuImageDiv {
  width: 100%;
  height: 70%;
  overflow: hidden;
}
/* StarFilled {
  position: absolute;
  top: 10px;
  right: 10px;
} */
.menuRestaurants:hover img {
  transition: all 1s ease;
  transform: scale(1.5);
  opacity: 0.5;
  cursor: pointer;
}
.menuImageDiv img {
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: scale(1);
}

.menucontentDiv {
  padding: 10px;
}
@media only screen and (max-width: 861px) {
  .menuBanner:after {
    content: '';
  }
}
