.usermenuBanner {
  width: 100%;
  height: 300px;
  position: relative;
}
.usermenuBanner:after {
  text-align: center;
  padding: 10px;
  content: "Welcome To The Restaurant's Profile Page, We Are Excited To Serve You!";
  width: 100%;
  height: 50px;
  background: #001529;
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.65);
}
.changeCoverButton {
  position: absolute;
  bottom: 50px;
  right: 50px;
}
.usermenuBanner img {
  width: 100%;
  height: 100%;
}
.usermymenuRestaurants {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.usermenuRestaurants {
  width: 200px;
  height: 230px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  margin: 10px;
  overflow: hidden;
  text-align: left;
}
.usermenuImageDiv {
  width: 100%;
  height: 170px;
  overflow: hidden;
}
.usermenuRestaurants:hover img {
  transition: all 1s ease;
  transform: scale(1.5);
  opacity: 0.5;
  cursor: pointer;
}
.usermenuImageDiv img {
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: scale(1);
}

.usermenucontentDiv {
  padding: 10px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #ffffffdc;
}
.description {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
  height: 200px;
  background: #ffffffdc;
}
.descriptionSmall {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 100%;
  margin-bottom: 20px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  background: #ffffffdc;
}
.descriptionSmall div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.descriptionOwner {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 100%;
  /* margin: 0 10px; */
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  height: 120px;
  position: relative;
  background-color: #ffffffdc;
}
.commentTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.deleteReport {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.retaurantMenusMap {
  display: flex;
  flex-wrap: wrap;
  margin-left: 80px;
}
.image-bannerUserView {
  width: 100%;
  height: 200px;
}
.image-bannerUserView img {
  width: 100%;
  height: 100%;
}
.emptyDiv {
  height: 200px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  width: 700px;
  margin-bottom: 30px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addMenuRes {
  width: 100%;
  height: 100%;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  background-color: rgb(209, 206, 206);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  /* margin: 10px; */
  /* border-radius: 10px; */
  padding-bottom: 20px;
  overflow: hidden;
  transition: all 1s ease;
}
.addMenuRes:hover {
  font-size: 80px;
  opacity: 0.5;
  cursor: pointer;
}
.addMenuResForm {
  width: 250px;
  height: 300px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  /* border-radius: 10px; */
  padding-bottom: 20px;
  padding-top: 20px;
}
.myUserView {
  margin-top: 20px;
  min-height: 30vh;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  /* margin-left: 40px; */
}

@media only screen and (max-width: 1100px) {
  .myUserView {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 745px) {
  .myUserView {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 686px) {
  .commentTop {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media only screen and (max-width: 596px) {
  .descriptionSmall div {
    flex-direction: column;
    align-items: flex-start;
  }
  .usermenuBanner:after {
    content: '';
  }
}
@media only screen and (max-width: 501px) {
  .myUserView {
    grid-template-columns: repeat(1, 1fr);
  }
}
