.usermenuBanner {
  width: 100%;
  height: 300px;
  position: relative;
}
.usermenuBanner:after {
  text-align: center;
  padding: 10px;
  content: "Welcome To The Restaurant's Profile Page, We Are Excited To Serve You!";
  width: 100%;
  height: 50px;
  background: #001529;
  z-index: 10;
  position: absolute;
  bottom: 0;
  right: 0;
  color: rgba(255, 255, 255, 0.65);
}
.changeCoverButton {
  position: absolute;
  bottom: 50px;
  right: 50px;
}
.usermenuBanner img {
  width: 100%;
  height: 100%;
}
.usermymenuRestaurants {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.usermenuRestaurants {
  width: 200px;
  height: 250px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  margin: 10px;
  overflow: hidden;
  text-align: left;
}
.usermenuImageDiv {
  width: 100%;
  height: 170px;
  overflow: hidden;
}
.usermenuRestaurants:hover img {
  transition: all 1s ease;
  transform: scale(1.5);
  opacity: 0.5;
  cursor: pointer;
}
.usermenuImageDiv img {
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: scale(1);
}

.usermenucontentDiv {
  padding: 10px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: whitesmoke;
}
.description {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 700px;
  margin: 10px;
  height: 200px;
}
.descriptionSmall {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 700px;
  margin: 10px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}
.descriptionOwner {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  width: 700px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  height: 120px;
  position: relative;
  background-color: whitesmoke;
}
.commentTop {
  display: flex;
  justify-content: space-between;
}
.deleteReport {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.retaurantMenusMap {
  display: flex;
  flex-wrap: wrap;
  margin-left: 80px;
}
.image-bannerUserView {
  width: 100%;
  height: 200px;
}
.image-bannerUserView img {
  width: 100%;
  height: 100%;
}
.emptyDiv {
  height: 200px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  width: 700px;
  margin-bottom: 30px;
  margin-left: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.addMenuRes {
  width: 230px;
  height: 250px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  background-color: rgb(209, 206, 206);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  margin: 10px;
  /* border-radius: 10px; */
  padding-bottom: 20px;
  overflow: hidden;
  transition: all 1s ease;
}
.addMenuRes:hover {
  font-size: 80px;
  opacity: 0.5;
  cursor: pointer;
}
.addMenuResForm {
  width: 250px;
  height: 300px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  /* border-radius: 10px; */
  padding-bottom: 20px;
  padding-top: 20px;
}
