.usermenuBanner {
  width: 100%;
  height: 300px;
}
.usermenuBanner img {
  width: 100%;
  height: 100%;
}
.profileContents {
  margin: auto;
  padding-top: 40px;
  width: 70%;
  /* background: grey; */
}
.textArea {
  border: none;
  background: rgb(235, 235, 235);
}

.usermymenuRestaurants {
  min-height: 50vh;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 10px;
}
.usermenuRestaurants {
  width: 200px;
  height: 250px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  margin: 10px;
  overflow: hidden;
  text-align: left;
}
.usermenuImageDiv {
  width: 100%;
  height: 70%;
  overflow: hidden;
}
.usermenuRestaurants:hover img {
  transition: all 1s ease;
  transform: scale(1.5);
  opacity: 0.5;
  cursor: pointer;
}
.usermenuImageDiv img {
  width: 100%;
  height: 100%;
  z-index: 1;
  transform: scale(1);
}

.usermenucontentDiv {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.image-bannerUserView {
  width: 100%;
  height: 200px;
}
.image-bannerUserView img {
  width: 100%;
  height: 100%;
}
.resH3Name {
  font-size: 40px;
}
@media only screen and (max-width: 927px) {
  .profileContents {
    margin: auto;
    padding-top: 40px;
    width: 90%;
  }
}
@media only screen and (max-width: 596px) {
  .resH3Name {
    font-size: 30px;
  }
}
@media only screen and (max-width: 450px) {
  .resH3Name {
    font-size: 25px;
  }
}
